{% extends 'main.html' %}


{% block content %}
<h1>Projects Template</h1>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempor pretium sodales. Sed enim est, finibus nec leo in, sagittis ultrices ex. Donec facilisis dui vitae enim viverra, ac vestibulum leo dignissim. In condimentum felis non lacus iaculis, a molestie est imperdiet. Morbi tristique metus at diam tincidunt facilisis. In finibus, nunc sit amet imperdiet rhoncus, sapien neque porttitor mauris, ut eleifend enim sem pulvinar arcu. Aenean id ullamcorper elit. Phasellus pretium urna ut ligula finibus, interdum laoreet velit interdum. Nam leo erat, dignissim sed nisi luctus, pharetra faucibus ipsum. Donec mattis imperdiet ipsum vitae semper. Fusce eget fermentum leo.
</p>
{% endblock content %}
